body {
  font-family: "Raleway";
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  padding: 57px 0;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -85px;
}

.subtitle {
  padding: 40px 0 110px 0;
  color: #86878B;
  font-size: 18px;
}

.btn {
  border: 2px solid #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.btn:hover {
  border: 2px solid #EC7979;
  transition: all 0.3s;
}
.btn:active {
  background: #AB4949;
  border: 2px solid #AB4949;
  transition: all 0.3s;
}
.btn a {
  color: #ffffff;
  padding: 15px 100px;
}
.btn a:hover {
  color: #EC7979;
  transition: all 0.3s;
}
.btn a:active {
  color: #ffffff;
  transition: all 0.3s;
}