@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Raleway";
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  padding: 57px 0;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -85px;
}

.subtitle {
  padding: 40px 0 110px 0;
  color: #86878B;
  font-size: 18px;
}

.awesome {
  text-align: center;
  padding-bottom: 40px;
}
.awesome__row {
  display: flex;
  margin: 0 -25px;
}
.awesome__column {
  padding: 0 15px 20px 15px;
}
.awesome__item {
  text-align: center;
  width: 370px;
}
.awesome__icon {
  border-radius: 50%;
  border: 1px solid #EC7979;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.awesome__item-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 75px 0 45px 0;
}
.awesome__text {
  font-size: 18px;
  line-height: 21px;
}
.awesome__text span {
  display: block;
}

.pricing {
  text-align: center;
  background: #F5F5F5;
  padding: 50px 0 60px 0;
}
.pricing__row {
  display: flex;
  margin: 0 -15px;
}
.pricing__column {
  padding: 0 15px 20px 15px;
}
.pricing__column_up {
  margin: -20px 0 0 0;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing__item {
  text-align: center;
  width: 370px;
}
.pricing__tariff {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #F5F5F5;
  padding: 20px 0;
}
.pricing__sum {
  font-weight: 700;
  font-size: 36px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #F5F5F5;
  padding: 30px 0;
}
.pricing__description {
  font-size: 18px;
  background: #333333;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #F5F5F5;
  padding: 17px 0;
}
.pricing__gb p {
  font-size: 18px;
  padding: 17px 0;
  color: #86878B;
  background: #ffffff;
  border: 2px solid #F5F5F5;
}

.review {
  text-align: center;
  padding: 50px 0 64px 0;
}
.review__row {
  display: flex;
}
.review__column {
  flex: 0 1 33.333%;
}
.review__item {
  width: 370px;
}
.review__text {
  background: #E2E2E2;
  border-radius: 10px;
  color: #86878B;
  font-size: 18px;
  padding: 37px 0;
  margin: 0 0 66px 0;
  position: relative;
}
.review__text span {
  display: block;
}
.review__text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #E2E2E2;
  position: absolute;
  left: 15%;
  bottom: -20px;
}
.review__person {
  display: flex;
}
.review__image {
  padding-right: 30px;
}
.review__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 30px;
}
.review__profession {
  font-size: 18px;
  text-align: left;
}