@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Raleway";
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  padding: 57px 0;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -85px;
}

.subtitle {
  padding: 40px 0 110px 0;
  color: #86878B;
  font-size: 18px;
}

.btn {
  border: 2px solid #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.btn:hover {
  border: 2px solid #EC7979;
  transition: all 0.3s;
}
.btn:active {
  background: #AB4949;
  border: 2px solid #AB4949;
  transition: all 0.3s;
}
.btn a {
  color: #ffffff;
  padding: 15px 100px;
}
.btn a:hover {
  color: #EC7979;
  transition: all 0.3s;
}
.btn a:active {
  color: #ffffff;
  transition: all 0.3s;
}

.header {
  background-color: #000000;
}
.header__container {
  width: 1200px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  text-transform: capitalize;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  height: 100%;
}
.header__navigation nav {
  display: flex;
}
.header__navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 75px;
  color: #FFFFFF;
  transition: all 0.2s;
}
.header__navigation a:hover {
  background-color: #EC7979;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  transition: all 0.7s;
}
.header__navigation a:active {
  background-color: #AB4949;
  transition: all 0.1s;
}

.main {
  background: url("../img/bg.png") no-repeat center center/cover;
}
.main__row {
  padding-top: 205px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 185px;
}
.main__logo {
  margin-bottom: 50px;
}
.main__title {
  padding-bottom: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 42px;
}
.main__title::after {
  width: 170px;
  height: 1px;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  margin: 0;
}
.main__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 42px;
}
.main__form {
  font-family: "Open Sans", sans-serif;
  width: 470px;
  max-height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.main__form fieldset {
  width: 370px;
  margin: 0 auto;
}
.main__form legend {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 81px;
}
.main__form legend span {
  color: #EC7979;
}
.main__form input {
  display: block;
  border-bottom: 1px solid #BDBDBD;
  width: 100%;
  margin-bottom: 34px;
  padding-bottom: 16px;
}
.main__form input::-moz-placeholder {
  color: #BDBDBD;
}
.main__form input:-ms-input-placeholder {
  color: #BDBDBD;
}
.main__form input::placeholder {
  color: #BDBDBD;
}
.main__form input:last-child {
  margin-bottom: 0;
}
.main__form button {
  display: inline-block;
  padding: 25px 0;
  position: absolute;
  bottom: 0;
  width: 470px;
  background-color: #EC7979;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.main__form button:hover {
  background: #AB4949;
  transition: all 0.5s ease;
}
.main__form button:active {
  background-color: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
  transition: all 0.5s ease;
}

.social {
  background: #F8EFEF;
}
.social__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.social__heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 40px 0;
}
.social__subtitle {
  color: #86878B;
  font-size: 18px;
  line-height: 21px;
  padding: 0 0 20px 0;
}
.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.social__item:last-child {
  margin: 0;
}

.awesome {
  text-align: center;
  padding-bottom: 40px;
}
.awesome__row {
  display: flex;
  margin: 0 -25px;
}
.awesome__column {
  padding: 0 15px 20px 15px;
}
.awesome__item {
  text-align: center;
  width: 370px;
}
.awesome__icon {
  border-radius: 50%;
  border: 1px solid #EC7979;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.awesome__item-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 75px 0 45px 0;
}
.awesome__text {
  font-size: 18px;
  line-height: 21px;
}
.awesome__text span {
  display: block;
}

.pricing {
  text-align: center;
  background: #F5F5F5;
  padding: 50px 0 60px 0;
}
.pricing__row {
  display: flex;
  margin: 0 -15px;
}
.pricing__column {
  padding: 0 15px 20px 15px;
}
.pricing__column_up {
  margin: -20px 0 0 0;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing__item {
  text-align: center;
  width: 370px;
}
.pricing__tariff {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #F5F5F5;
  padding: 20px 0;
}
.pricing__sum {
  font-weight: 700;
  font-size: 36px;
  background: #333333;
  color: #ffffff;
  border: 2px solid #F5F5F5;
  padding: 30px 0;
}
.pricing__description {
  font-size: 18px;
  background: #333333;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #F5F5F5;
  padding: 17px 0;
}
.pricing__gb p {
  font-size: 18px;
  padding: 17px 0;
  color: #86878B;
  background: #ffffff;
  border: 2px solid #F5F5F5;
}

.review {
  text-align: center;
  padding: 50px 0 64px 0;
}
.review__row {
  display: flex;
}
.review__column {
  flex: 0 1 33.333%;
}
.review__item {
  width: 370px;
}
.review__text {
  background: #E2E2E2;
  border-radius: 10px;
  color: #86878B;
  font-size: 18px;
  padding: 37px 0;
  margin: 0 0 66px 0;
  position: relative;
}
.review__text span {
  display: block;
}
.review__text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #E2E2E2;
  position: absolute;
  left: 15%;
  bottom: -20px;
}
.review__person {
  display: flex;
}
.review__image {
  padding-right: 30px;
}
.review__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 30px;
}
.review__profession {
  font-size: 18px;
  text-align: left;
}

.download {
  background: url("../img/bg_2.png");
  text-align: center;
}
.download__title {
  color: #ffffff;
  padding-top: 110px;
}
.download__title::after {
  background-color: #ffffff;
}
.download__subtitle {
  color: #ffffff;
  padding-bottom: 75px;
}
.download__button {
  margin-bottom: 50px;
  padding: 0 45px;
}

.contact {
  text-align: center;
  background: #F5F5F5;
  padding: 50px 0 0 0;
}
.contact__form {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.contact__form_left {
  width: 560px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact__form_left input {
  display: block;
  background-color: #F5F5F5;
  border-bottom: 1px solid #BDBDBD;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 16px;
  font-weight: 400;
}
.contact__form_left input:last-child {
  margin-bottom: 0;
}
.contact__form_left input::-moz-placeholder {
  color: #BDBDBD;
}
.contact__form_left input:-ms-input-placeholder {
  color: #BDBDBD;
}
.contact__form_left input::placeholder {
  color: #BDBDBD;
}
.contact__form_right {
  width: 560px;
}
.contact__form_right textarea {
  resize: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #F5F5F5;
  border-bottom: 1px solid #BDBDBD;
  font-weight: 400;
}
.contact__form_right textarea::-moz-placeholder {
  color: #BDBDBD;
}
.contact__form_right textarea:-ms-input-placeholder {
  color: #BDBDBD;
}
.contact__form_right textarea::placeholder {
  color: #BDBDBD;
}
.contact button {
  display: inline-block;
  padding: 22px 0;
  width: 370px;
  background-color: #EC7979;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 50px;
}
.contact button:hover {
  background: #AB4949;
  transition: all 0.5s ease;
}
.contact button:active {
  background-color: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
  transition: all 0.5s ease;
}

.footer {
  text-align: center;
  background-color: #000000;
}
.footer__media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  margin-bottom: 27px;
}
.footer__item {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.footer__item:last-child {
  margin: 0;
}
.footer__copiright {
  padding-bottom: 27px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}