body {
	font-family: "Raleway";
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-size: 36px;
	text-transform: uppercase;
	padding: 57px 0;
	position: relative;



	&::after {
		content: '';
		position: absolute;
		width: 170px;
		height: 1px;
		background-color: #EC7979;
		left: 50%;
		bottom: 0;
		margin: 0 0 0 -85px;

	}
}


.subtitle {
	padding: 40px 0 110px 0;
	color: #86878B;
	font-size: 18px;

}

.btn-a {
	border: 2px solid #FFFFFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;

	&:hover {
		border: 2px solid #EC7979;
		transition: all 0.3s;
	}

	&:active {
		background: #AB4949;
		border: 2px solid #AB4949;
		transition: all 0.3s;
	}

	a {
		color: #ffffff;
		padding: 15px 100px;

		&:hover {
			color: #EC7979;
			transition: all 0.3s;
		}

		&:active {
			color: #ffffff;
			transition: all 0.3s;
		}
	}
}

.button {
	display: inline-block;
	background-color: #EC7979;
	font-weight: 600;
	font-size: 15px;
	color: #ffffff;

	&:hover {
		background: #AB4949;
		transition: all .5s ease;
	}

	&:active {
		background-color: #EC7979;
		box-shadow: inset 0px 0px 10px #AB4949;
		transition: all .5s ease;
	}
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;

	div {
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 30px;

		&:last-child {
			margin: 0;
		}
	}
}